div.slideOutTab {
    position: relative;
    width: 450px;
    height: 100px;
    top: 50px;
    left: -340px;
}

div.slideOutTab a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -999em;
    background: 0 0 #0064E8 ;
    border-radius: 10px;
}

div.slideOutTab a:hover {
    background-position: 0 -200px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: right;
    margin-top: 30px;
    margin-right: 40px;
}